@font-face {
  font-family: 'Archia';
  font-weight: 400;
  src: url('../../@core/assets/fonts/ArchiaVN/Archia-Regular.otf');
}

@font-face {
  font-family: 'Archia';
  font-weight: 600;
  src: url('../../@core/assets/fonts/ArchiaVN/Archia-DemiBold.otf');
}

@font-face {
  font-family: 'Archia';
  font-weight: 700;
  src: url('../../@core/assets/fonts/ArchiaVN/Archia-Bold.otf');
}

* {
  font-family: 'Archia', sans-serif;
}

a {
  color: #f9d84b;
  &:hover {
    color: #c7ad3c;
  }
}

.header-navbar.floating-nav {
  border-radius: 12px;
  padding: 0.2rem 0.4rem;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-layout .btn-primary {
  background-color: #c7ad3c !important;
  border-color: #c7ad3c !important;
}

.btn {
  transition: 0.1s ease-in-out;
  border-radius: 8px;
  &:active {
    transform: scale(0.9);
  }
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & svg {
    width: 14px;
    height: 14px;
  }
}

.loading {
  .effect-1,
  .effect-2,
  .effect-3 {
    border-left: 3px solid #f9d84b !important;
  }
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 0.5s;
}
