.modal .modal-header .btn-close {
  transform: none !important;
  box-shadow: none;

  &:hover {
    box-shadow: 0 5px 20px 0 rgb(34 41 47 / 10%);
  }
}

.modal-content {
  border-radius: 12px;
}

.modal-header {
  border-radius: 12px 12px 0 0;
  background-color: transparent !important;
  padding: 1.4rem 1.6rem;
}

.modal-title {
  font-weight: 600;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal-body {
  padding: 0 1.4rem 0.8rem;
}

.exportModal {
  &-warn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: #fff3e8;
    color: #ffa44e;
    border-radius: 12px;
    padding: 7px;

    & svg {
      width: 18px;
      height: 18px;
    }

    & span {
      font-size: 12px;
    }
  }
}

.dark-layout .exportModal {
  &-warn {
    background: rgba(255, 159, 67, 0.12);
  }
}
