.vertical-layout .main-menu .navigation a.active {
  border-radius: 8px;
  background: linear-gradient(118deg, #f9d84b, rgba(249, 216, 75, 0.7));
  box-shadow: none;
}
.main-menu.menu-dark .navigation > li .active {
  background: linear-gradient(118deg, #c1a321, rgba(193, 163, 33, 0.7));
  color: white !important;
}

.navbar-header {
  margin-bottom: 1rem;
}

.navbar-brand {
  & .brand-logo {
    & img {
      border-radius: 12px;
    }
  }
}

.main-menu .navbar-header .navbar-brand .brand-text {
  color: #f7cb2e;
}

.text-primary {
  color: #f7cb2e !important;
}

.nav-link {
  color: #f7cb2e;
}

.header-navbar .navbar-container ul.navbar-nav li i.ficon:hover,
.header-navbar .navbar-container ul.navbar-nav li svg.ficon:hover {
  color: #f7cb2e;
}

.avatar {
  & img {
    object-fit: contain;
    transform: scale(0.8);
  }
}
