$curve: 8px;
.shepherd-element {
  border-radius: $curve !important;

  & .shepherd-content {
    border-radius: $curve !important;

    & .shepherd-header {
      border-radius: $curve $curve 0 0 !important;
    }
  }
}

.dark-layout .shepherd-header {
  background-color: #c7ad3c !important;
}
