.table {
  &-id {
    font-size: 12px;
    background-color: #f5f5f5;
    padding: 3px 6px;
    border-radius: 8px;
  }
}
.dark-layout .react-dataTable .rdt_TableBody .rdt_TableRow .rdt_TableCell .table-id {
  background-color: #3b3d41;
  color: #d0d2d6;
}

.react-dataTable {
  border-radius: 12px !important;
}
.react-dataTable .rdt_TableHead .rdt_TableHeadRow {
  background-color: #fef9e1 !important;
}

.dark-layout .react-dataTable .rdt_TableHead .rdt_TableHeadRow {
  background-color: #957c10 !important;
}

.page-item.active .page-link {
  background-color: #f9cf1b !important;
}

.expandable-content {
  & p {
    display: flex;
    align-items: center;

    & svg {
      width: 16px;
      height: 16px;
    }
  }
}

.react-dataTable .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol .rdt_TableCol_Sortable {
  height: auto;
  text-transform: none !important;

  & svg {
    width: 18px;
    height: 18px;
    margin-right: 3px;
  }
}

.react-dataTable .rdt_TableHead .rdt_TableHeadRow {
  height: 40px !important;
}

.react-dataTable .rdt_TableBody .rdt_TableRow {
  &:hover {
    background-color: #f2f2f2;
  }
}
.dark-layout .react-dataTable .rdt_TableBody .rdt_TableRow {
  &:hover {
    background-color: #202638;
  }
}

.react-dataTable .rdt_TableBody .rdt_TableRow .rdt_TableCell {
  height: auto !important;
}

.expand-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  & svg {
    stroke-width: 2;
    width: 18px;
    height: 18px;
  }

  &_key {
    font-weight: 600;
    margin-bottom: 0;
  }
  &_value {
    margin-bottom: 0;
  }
}
